.root {
  font-size: 14px;
  margin-top: 24px;
}

.lists {
  max-height: calc(-306px + 100vh);
}

.items {
  list-style: none;
}

.item {
  list-style-type: none;
  margin-bottom: 0.5rem;
}

.link {
  border-radius: 4px;
  color: rgb(0 0 0 / 60%);
  display: block;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  line-height: 1.5;
}

.link::focus {
  background-color: #edeeee;
  color: rgb(0 0 0 / 87%);
}

.index {
  padding-left: 1em;
}

.active {
  background-color: #edeeee;
  color: rgb(0 0 0 / 87%);
  font-weight: 600;
}
