.root {
  display: flex;
  height: 100vh;
}

.main {
  background-color: aquamarine;
  margin: 0 0.5rem 0 1.5rem;
  flex: 4;
}

.side {
  background-color: bisque;
  margin: 0 1.5rem 0 0.5rem;
  flex: 1;
}
