.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 16px 32px;
  border-bottom: 1px solid #b0bec5;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
}

.menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.login {
  color: #66cb1b;
}

.signup {
  background-color: #66cb1b;
  color: floralwhite;
}
